<h2>PJHDEV BLOG <small>에 오신 것을 환영합니다.</small></h2>
<p>: 이 페이지는 "RCafe 프로젝트" 의 Welcome 페이지입니다.<br/></p>
<%= link_to "글 작성", posts_path, class: 'btn btn-default' %>
<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  <% end %>
</div>