$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "posts";
@import "comments";

// for infinite scroll
@import "scaffolds";

body { padding-top: 60px; }

.google-login {
  width: 220px;
  height: 50px;
  background-image: asset-data-url('google.png');
  background-repeat: no-repeat;
  background-size: 40px;
}